.App {
  text-align: center;
}

.change-page {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  align-items: center;
}

.change-page svg:hover {
  cursor: pointer;
  color: #3f51b5;
}

.change-page svg {
    font-size: 40px;
  }

.books {
    padding: 30px;
}

@media only screen and (max-width: 475px) {
    .change-page {
        margin: 8px auto;
    }
    .books {
        padding: 15px;
    }
}
